{% extends 'base.html.twig' %}

{% block title %}
	SymfonySchool - Tous les élèves
{% endblock %}

{% block body %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path('accueil') }}">Accueil</a>
		</li>
		<li class="breadcrumb-item active">Tous les élèves | Total : {{nbEleves}}</li>
	</ol>

{% if eleves is empty %}
	Vous devez créer une <a class="btn btn-secondary" href="">classe</a> avant d'ajouter un élève.
	<button class="btn btn-primary">Créer un élève</button>
{% else %}
	<div class="row">
		<div class="col-md-3 offset-md-9">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Rechercher un élève..." id="searchQuery">
			</div>
		</div>

	</div>

	<table class="table table-hover">
		<thead>
			<tr class="table-primary">
				<th style="width:10%" scope="col">Classe</th>
				<th class="text-center" style="width:15%">Nom</th>
				<th class="text-center" style="width:15%" scope="col">Prénom</th>
				<th class="text-center" style="width:15%" scope="col">Date de naissance</th>
				<th class="text-center" style="width:25%" scope="col">Appréciation</th>
				<th class="text-center" style="width:10%" scope="col">Moyenne</th>
				<th class="text-center" style="width:10%" scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for eleve in eleves%}
				<tr>
					<td>
						<a href="{{ path('showClasse', {'id': eleve.classe.id}) }}">{{eleve.classe.nom}}</a>
					</td>
					<td class="text-center">
						<a href="{{ path('showEleve', {'id': eleve.id}) }}">{{eleve.nom}}</a>
					</td>
					<td class="text-center">{{eleve.prenom}}</td>
					<td class="text-center">{{eleve.dateDeNaissance | date('d-m-Y')}}</td>
					<td class="text-center">{{eleve.appreciation}}</td>
					<td class="text-center">{{eleve.moyenne}}/20</td>
					<td class="text-center">
						<a href="{{ path('editEleve', {'id': eleve.id}) }}">
							<i class="far fa-edit"></i>
						</a>
						<a href="{{ path('deleteEleve', {'id': eleve.id}) }}">
							<i class="far fa-trash-alt"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


		{{ knp_pagination_render(eleves)}}
{% endif %}

{% endblock %}
