{% extends 'base.html.twig' %}

{% block title %}
	SymfonySchool - Tous les élèves
{% endblock %}

{% block body %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path('accueil') }}">Accueil</a>
		</li>
		<li class="breadcrumb-item active">Tous les élèves ({{eleves|length}})</li>
	</ol>

	<div class="row">
		<div class="col-md-3 offset-md-9">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Rechercher un élève..." id="searchQuery">
			</div>
		</div>

	</div>

	<table class="table table-hover">
		<thead>
			<tr class="table-primary">
				<th style="width:10%" scope="col">Classe</th>
				<th class="text-center" style="width:15%">Nom</th>
				<th class="text-center" style="width:15%" scope="col">Prénom</th>
				<th class="text-center" style="width:15%" scope="col">Date de naissance</th>
				<th class="text-center" style="width:25%" scope="col">Appréciation</th>
				<th class="text-center" style="width:10%" scope="col">Moyenne</th>
				<th class="text-center" style="width:10%" scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for eleve in eleves|filter(eleve => eleve.nom > 6) %}
				<tr>
					<td>
						<a href="{{ path('showClasse', {'id': eleve.classe.id}) }}">{{eleve.classe.nom}}</a>
					</td>
					<td class="text-center">
						<a href="{{ path('showEleve', {'id': eleve.id}) }}">{{eleve.nom}}</a>
					</td>
					<td class="text-center">{{eleve.prenom}}</td>
					<td class="text-center">{{eleve.dateDeNaissance | date('d-m-Y')}}</td>
					<td class="text-center">{{eleve.appreciation}}</td>
					<td class="text-center">{{eleve.moyenne}}/20</td>
					<td class="text-center">
						<a href="{{ path('editEleve', {'id': eleve.id}) }}">
							<i class="far fa-edit"></i>
						</a>
						<a href="{{ path('deleteEleve', {'id': eleve.id}) }}">
							<i class="far fa-trash-alt"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div>
		<ul class="pagination justify-content-center">

			<li class="page-item disabled">
				<a class="page-link" href="#">&laquo;</a>
			</li>
			<li class="page-item active">
				<a class="page-link" href="#">1</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">2</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">3</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">4</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">5</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">&raquo;</a>
			</li>
		</ul>
	</div>
{% endblock %}
