{% extends "base.html.twig" %}

{% block body %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path('accueil') }}">Accueil</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{ path('eleve') }}">Tous les élèves</a>
		</li>
		{% if eleve.id %}
			<li class="breadcrumb-item active">Modifier une fiche d'élève</li>
		{% else %}
			<li class="breadcrumb-item active">Créer une fiche d'élève</li>
		{% endif %}
	</ol>

	{{ form_start(form) }}
	{{ form_row(form.classe)}}
	{{ form_row(form.nom)}}
	{{ form_row(form.prenom)}}
	{{ form_row(form.dateDeNaissance)}}
	{{ form_row(form.moyenne)}}
	{{ form_row(form.appreciation)}}
	<button type="submit" class="btn btn-primary">Enregistrer</button>
	{{ form_end(form) }}
{% endblock %}
