{% extends "base.html.twig" %}

{% block title %}
	{% if eleve.id %}
		SymfonySchool -
		{{eleve.nom}}
		{{eleve.prenom}}
	{% else %}
		SymfonySchool - Créer une fiche d'élève
	{% endif %}
{% endblock %}


{% block body %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path('accueil') }}">Accueil</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{ path('eleve') }}">Tous les élèves</a>
		</li>
		{% if eleve.id %}
			<li class="breadcrumb-item active">Modifier une fiche d'élève</li>
		{% else %}
			<li class="breadcrumb-item active">Créer une fiche d'élève</li>
		{% endif %}
	</ol>

	{{ form_start(form) }}
	<div class="form-row">
		<div class="col">
			<div class="form-group">
				{{ form_row(form.classe)}}
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col">
			{{ form_row(form.nom)}}
		</div>
		<div class="col">
			{{ form_row(form.prenom)}}
		</div>

		<div class="col-md-2">
			{{ form_row(form.dateDeNaissance)}}
		</div>
		<div class="col-md-2">
			{{ form_row(form.moyenne)}}
		</div>

	</div>

	<div class="form-row">
		<div class="col">
			{{ form_row(form.appreciation)}}
		</div>
	</div>
	<div class="form-row">
		<div class="col">
			<div class="form-group">
				{% if eleve.id %}
					<button style="margin-top: 15px" type="submit" class="btn btn-primary form-control">Enregistrer les modifications</button>
				{% else %}
					<button style="margin-top: 15px" type="submit" class="btn btn-primary form-control">Enregistrer</button>
				{% endif %}
			</div>
		</div>
	</div>

	{{ form_end(form) }}
{% endblock %}
