{% extends 'base.html.twig' %}

{% block body %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path('accueil') }}">Accueil</a>
		</li>
		<li class="breadcrumb-item active">Toutes les classes</li>
	</li>
</ol>
<table class="table table-hover">
	<thead>
		<tr class="table-primary">
			<th style="width:50%" scope="col">Nom de la classe</th>
			<th class="text-center" style="width:20%" scope="col">Nombre d'élèves</th>
			<th class="text-center" style="width:20%" scope="col">Moyenne de classe</th>
			<th class="text-center" style="width:10%" scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% for classe in classes %}
			<tr>
				<td>
					<a href="{{ path('showClasse', {'id': classe.id}) }}">{{classe.nom}}</a>
				</td>
				<td class="text-center">{{ classe.nombreEleves}}</td>
				<td class="text-center">{{ classe.moyenneDeClasse|number_format(2)}}</td>
				<td class="text-center">
					<a href="{{ path('editClasse', {'id': classe.id}) }}">
						<i class="far fa-edit"></i>
					</a>
					<a href="{{ path('deleteClasse', {'id': classe.id}) }}">
						<i class="far fa-trash-alt"></i>
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>{% endblock %}
