{% extends 'base.html.twig' %}

{% block body %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path('accueil') }}">Accueil</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{ path('classe') }}">Toutes les classes</a>
		</li>

		{% if classe.id %}
			<li class="breadcrumb-item active">Modifier le nom de la classe</li>
		{% else %}
			<li class="breadcrumb-item active">Créer une nouvelle classe</li>
		{% endif %}
	</li>
</ol>

{{ form_start(form)}}
<div class="form-row">
	<div class="col">
		{{ form_row(form.nom)}}
	</div>
</div>

<div class="form-row">
	<div class="col">
		<div class="form-group">
			{% if classe.id %}
				<button style="margin-top: 15px" type="submit" class="btn btn-primary form-control">Enregistrer les modifications</button>
			{% else %}
				<button style="margin-top: 15px" type="submit" class="btn btn-primary form-control">Créer la classe</button>
			{% endif %}
		</div>

	</div>
</div>

{{ form_end(form)}}{% endblock %}
