{% extends 'base.html.twig' %}

{% block title %}
	SymfonySchool -
		La classe
	{{classe.nom}}
{% endblock %}


{% block body %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path('accueil') }}">Accueil</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{ path('classe') }}">Toutes les classes</a>
		</li>
		<li class="breadcrumb-item active">{{classe.nom}}
			({{eleves|length}}
			élèves, moyenne :{{ moyenneDeClasse | number_format(2)}}/20)
		</li>

	</ol>

	<table class="table table-hover">
		<thead>
			<tr class="table-primary">
				<th style="width:10%" scope="col">Nom</th>
				<th class="text-center" style="width:20%" scope="col">Prénom</th>
				<th class="text-center" style="width:20%" scope="col">Date de naissance</th>
				<th class="text-center" style="width:30%" scope="col">Appréciation</th>
				<th class="text-center" style="width:10%" scope="col">Moyenne</th>
				<th class="text-center" style="width:10%" scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for eleve in eleves %}
				<tr>
					<td>
						<a href="{{ path('showEleve', {'id': eleve.id}) }}">{{eleve.nom}}</a>
					</td>
					<td class="text-center">{{eleve.prenom}}</td>
					<td class="text-center">{{eleve.dateDeNaissance | date('d-m-Y')}}</td>
					<td class="text-center">{{eleve.appreciation}}</td>
					<td class="text-center">{{eleve.moyenne}}/20</td>
					<td class="text-center">
						<a href="{{ path('editEleve', {'id': eleve.id}) }}">
							<i class="far fa-edit"></i>
						</a>
						<a href="{{ path('deleteEleve', {'id': eleve.id}) }}">
							<i class="far fa-trash-alt"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
